<div class="container d-flex flex-column" style="min-height: 100vh;">
    <h2>Chat</h2>
    <div id="log" class="list-group flex-grow-1">
    </div>
    <input id="chatbox" class="form-control mb-3" placeholder="Escribe tu mensaje">
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/chat.js"></script>